.register-container {
    
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ddddddb7;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.register-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}