

.form-container {
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffffd8;
    border-radius: 20px;

    justify-items: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
}

.form-input {
    padding: 8px 12px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 100%; 
}

.form-input, .form-button {
    padding: 6px 10px;
    margin: 6px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border-color: #007BFF;
}

.form-button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}

.form-label {
    display: block;
    margin-bottom: 3px;
    text-align: center; /* Center the text of the label */
}